{% extends 'base.html' %}

{% block content %}
<style>
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

.bg-image {
  /* The image used */
  background-image: url("https://www.irishtimes.com/polopoly_fs/1.4236105.1587648708!/image/image.jpg");
  
  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);
  
  /* Full height */
  height: 100%; 
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

.bg-text1 {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 66%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 50%;
  padding: 20px;
  text-align: center;
}



  
</style>

     <div class="bg-image"></div>
<div class="bg-text">
  <h2>Discover</h2>
  <h1 style="font-size:50px">DT Smart Homes</h1>
  <p>The Future in Smart Home Technology</p>
</div>

    <div class="bg-text1">

  <p>DT Smart Homes is the new upcoming powerhouse in the Smart Homes Industry, specialising in home security. With state of the art motion detection systems, toker smart homes can ensure you and your houses safety with online monitoring from anywhere in the world.</p>
</div>
   
{% endblock %}